@import './variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    color: var(--color-text-primary);
    background-color: var(--color-bg-page);
    line-height: 1.4;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-primary);
    transition: color 0.2s;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}